body, html {
    overflow-y:hidden;
    height:100%;
    font-family: Verdana;
    font-size: .9em;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

canvas {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#loadingText {
    color: #000000;
}

#leftBar {
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('../images/gfx/hud/left-bar-hud2.png');
    background-size: 100% 100%;
    z-index: 1100;
    width: 25%;
    height: 100%;
    display: none;
}

#rightBar {
    position: absolute;
    left: 75%;
    margin: 0px;
    padding: 0px;
    display: none;
    top: 0px;
    background: url('../images/gfx/hud/right-bar-hud2.png');
    background-size: 100% 100%;
    z-index: 1100;
    width: 25%;
    height: 100%;
}


#hud {
    padding: 0px;
    margin: 0px; 
    background: url('../images/gfx/hud/top-bar-hud2.png'); 
    display: none; 
    background-size: 100% 100%; 
    width: 100%; 
    height: 100%; 
    position: absolute;
    z-index: 1000;
}

#descriptionBox {
    position: absolute;
    width: 100%;
    height: 40%;
    display: none;
    margin: 0px;
    top: 60%;
    z-index: 1200;
}

#descriptionBoxContent div {
    margin-bottom: 4%;
}

#descriptionBoxContent {
    overflow: auto;
    position: absolute;
    top: 68.8%;
    left: 4%;
    width: 85%;
    left: 10%;
    height: 25%;
    z-index: 1300;
}

.close-btn {
    background: url('../images/icons/close.png') no-repeat;
    width: 8.4%;
    height: 4.5%;
    position: relative;
    top: 1.6%;
    left: 91.6%;
    background-size: 70% 50%;
}

#combat-btn {
    background: url('../images/icons/combat.png') no-repeat;
    width: 9%;
    left: 10%;
    height: 90%;
    top: 25%;
    position: absolute;
    background-size: 100%;
    display: none;
}

#pass-btn {
    background: url('../images/icons/pass.png') no-repeat;
    width: 9%;
    height: 90%;
    left: 10%;
    top: 25%;
    position: absolute;
    background-size: 100%;
    display: none;
}

#log-btn {
    background: url('../images/icons/log2.png') no-repeat;
    width: 9%;
    height: 90%;
    top: 25%;
    position: absolute;
    background-size: 100%;
}

#toolbar {
    z-index: 1200;
    top: 0%;
    left: 62%;
    position: absolute;
    height: 5%;
    width: 20%;
    display: none;
}

.btn:hover {
    cursor: pointer;
}

#turnCounter {
    background: url('../images/gfx/hud/turn-counter-hud2.png') no-repeat;
    position: absolute;
    left: 39.4%;
    width: 21.4%;
    height: 10%;
    z-index: 1200;
    text-align: center;
    background-size: 100%;
    display: none;
}

#turnOrder {
    font-size: .7em;
}

.turnSelected {
    font-weight: bold;
}

#turnTitle {
    margin-top: .8em;
    font-size: 1.2em;
}

#turnCounterNumber {
    margin-top: .2em;
    font-size: 1.15em;
}

#logBox {
    position: relative;
    top: 5%;
    z-index: 1500;
    left: 10%;
    width: 80%;
    height: 50%;
}

.tooltip {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 2px;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltipEffectEnabled {
    background: url('../images/icons/lock.png') no-repeat;
    background-size: 100% 100%;
}

.tooltipEffectEnabled:hover {
    background: url('../images/icons/lock-selected.png') no-repeat;
    background-size: 100% 100%;
}

#tooltipDiscard {
    display: none;
    background: url('../images/icons/trash.png') no-repeat;
    background-size: 100% 100%;
}

#tooltipDiscard:hover {
    background: url('../images/icons/trash-selected.png') no-repeat;
    background-size: 100% 100%;
}

.tooltipEffectDisabled {
    background: url('../images/icons/lock-disabled.png') no-repeat;
    background-size: 100% 100%;
}

.tooltipEffectDisabled:hover {
    background: url('../images/icons/lock-disabled.png') no-repeat;
    background-size: 100% 100%;
    cursor: auto;
}

#tooltipDescription {
    background: url('../images/icons/description.png') no-repeat;
    background-size: 100% 100%;
}

#tooltipDescription:hover {
    background: url('../images/icons/description-selected.png') no-repeat;
    background-size: 100% 100%;
}

.selectedTurn {
    font-weight: bold;
    color: #FF0000;
}

.card-name {
    font-weight: bold;
}

.card-saga-label {
}

#card-list .ui-selecting { background: #FF6A40; }
#card-list .ui-selected { background: #FF2814; color: white; }
#card-list{ list-style-type: none; margin: 0; padding: 0; width: 100%; }
#card-list li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; }
#card-list li:hover { cursor: pointer; }

#mainDialog {
}

#dialog-wrapper-div {
    height: 20em;
}

#draw-phase-warn {
    background: url('../images/gfx/text/drawphase.png') no-repeat;
}

#noncombat-phase-warn {
    background: url('../images/gfx/text/noncombatstep.png') no-repeat;
}

#pur-phase-warn {
    background: url('../images/gfx/text/powerupstep.png') no-repeat;
}

#declare-phase-warn {
    background: url('../images/gfx/text/declarestep.png') no-repeat;
}

#combat-phase-warn {
    background: url('../images/gfx/text/combatstep.png') no-repeat;
}

#discard-phase-warn {
    background: url('../images/gfx/text/discardstep.png') no-repeat;
}

#rejuvenation-phase-warn {
    background: url('../images/gfx/text/rejuvenationstep.png') no-repeat;
}

.phase-warn {
    display: none;
    position: absolute;
    z-index: 12000;
    left: 41%;
    top: 35%;
    width: 280px;
    height: 70px;
    background-size: 100% 100%;
}

/* DEBUG */
#stats {
/*    display: none;*/
    position: absolute;
    z-index: 20000;
}
