body, html {
    overflow-y:hidden;
    height:100%;
    font-family: Verdana;
    font-size: .9em;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

canvas {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#leftBar {
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('../images/gfx/hud/left-bar-hud2.png');
    background-size: 100% 100%;
    z-index: 1100;
    width: 25%;
    height: 100%;
    display: none;
}

#hud {
    padding: 0px;
    margin: 0px; 
    background: url('../images/gfx/hud/top-bar-hud2.png'); 
    display: none; 
    background-size: 100% 100%; 
    width: 100%; 
    height: 100%; 
    position: absolute;
    z-index: 1000;
}

#descriptionBox {
    position: absolute;
    width: 100%;
    height: 40%;
    display: none;
    margin: 0px;
    top: 60%;
    z-index: 1200;
}

#descriptionBoxContent div {
    margin-bottom: 4%;
}

#descriptionBoxContent {
    overflow: auto;
    position: absolute;
    top: 68.8%;
    left: 4%;
    width: 85%;
    left: 10%;
    height: 25%;
    z-index: 1300;
}

.card-name {
    font-weight: bold;
}

.card-saga-label {
}