* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Verdana';
}

#main-description-image {
    display: none;
}

#header-content-bg-fix {
    display: none;
}

.modal {
    display: none;
}

.form-error {
    color: #FF3333;
    padding-bottom: 2%;
}

body {    
    background: url('images/html/bg-body-pattern.jpg');
    background-size: 100% 100%;
}

#resolution-error {
    display: none;
}

#desktop-join-box {
    float: right;
    margin-top: 2%;
}

#desktop-join-box  > button {
    display: block;
    width: 100%;
}

.form-group > input {
    display: block;
    height: 5vmin;
}

#desktop-join-box  > button:first-child {
    margin-bottom: 8%;
}

.desktop-menu-option a {
    text-decoration: none;
    color: #000000;
}

.desktop-menu-option a:hover {
    text-decoration: underline;
    color: #000000;
}

.desktop-menu-option a:active {
    text-decoration: none;
    color: #000000;
}

.desktop-menu-option a:visited {
    text-decoration: none;
    color: #000000;
}

#footer-content {
}

#contact-box {
    padding-top: 2%;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#creation-disclaimer {
    margin-top: 5.75%;
}

#contact-box:after {
    content: "";
}

.contact-icon {
    display: block;
    margin: 0 auto;
    margin-top: 3.5%;
    height: auto;
    width: 100%;
}

.div-line {
    width: 1px;
    float: left;
    background-color: #000000;
    height: 100%;
    margin-left: 1%;
    display: none;
    margin-right: 1%;
}

#email-logo {
    width: 40%;
}

#trello-logo{
}

#github-logo {
}

.disclaimer {
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#legal-disclaimer {
}

#footer-content {
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    border-top: 1px #000000;
    bottom: 0%;
    min-height: 20vmax;
    background: url('images/html/bg-pattern.jpg');
    background-size: 100% 100%;
}

#main-wrapper {
    margin: 0 auto;
    width: 90%;
    min-height: 70%;
}

.content-line > div > img {
    width: 100%;
}

.content-line > div {
    width: 100%;
}

.content-line > div > div {
    text-align: justify;
    width: 100%;
    padding-bottom: 5%;
    margin: 0 auto;
    margin-top: 5%;
}

#main-content {
    padding-top: 2%;
    padding-bottom: 2%;
}

.content-line {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#header-content {
    height: 20%;
    background: url('images/html/bg-pattern.jpg');
    border-bottom: 1px #000000;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    background-size: 100% 100%;
    display: table;
    z-index: 10;
}

#logo {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

#logo-mobile img {
    width: 100%;
    height: auto;
}

#desktop-menu {
    float: left;
    height:100%;
    display: none;
    width: 62%;
    margin-left: 7.5%;
}

.desktop-menu-option {
    float: left;
    margin-left: 5%;
    margin-top: 9vmin;
    margin-right: 5%;
}

.jlink:hover {
    cursor: pointer;
}

#signup-help {
    margin-bottom: 5%;
}

@media screen and (max-height: 570px) {
    * {
        display: none;
    }

    #resolution-error {
        display: block;
    }
}

@media screen and (min-width: 1024px) {

    #main-description-image-overlay {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.333);
        font-size: 2em;
        color: #FFFFFF;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        text-align: center;
    }
    
    #main-description-image-overlay > .title {
        padding-top: 10%;
        font-size: 2em;
    }

    #main-description-image-overlay > .description {
        padding-top: 5%;
        margin: 0 auto;
        display: block;
    }
    
    #btn-demo-album {
        left: 51%;
        top: 85%;
    }
    
    #btn-demo {
        left: 20%;
        top: 85%;
    }
    
    #logo-mobile {
        display: none;
    }
    
    .desktop-menu-option {
        margin-top: 4vmin;
    }
    
    #header-content-margin-fix {
        height: 4%;
    }
    
    #header-content-bg-fix {
        background: url('images/html/bg-body-pattern.jpg');
        height: 5%;
        z-index: 5;
        position: fixed;
        width: 100%;
        display: block;
    }

    #main-description-image {
        width: 100%;
        position: relative;
        height: 60%;
        background-size: 100% 100%;
        background: url('images/html/image-main-description.jpg');
        background-position:center;
        -webkit-box-shadow: 0px 0px 4px #000;
        -moz-box-shadow: 0px 0px 4px #000;
        box-shadow: 0px 0px 4px #000;
        display: block;
    }

    .content-line > div { 
        float: left;
        width: 20%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .content-line:after {
        content: "";
        display: block;
        clear: both;
    }

    #contact-box {
        height: auto;
        width: 65%;
    }

    #email-logo {
        width: auto;
    }

    #header-content {
        height: 5%;
        background: rgba(1,1,1,0.25);
        display: block;
        position: fixed;
        width: 100%;
    }

    .div-line {
        display: block;
    }

    .main-description-btn {
        width: 30%;
        height: 10%;
        font-size: 2em;
        font-weight: bold;
        position: absolute;
    }
    
    #desktop-menu {
        width: 55%;
        padding-left: 44%;
        margin: 0 auto;
        display: block;
        float: none;
    }

    .contact-icon {
        margin-top: 1.5%;
        height: 10%;
        width: auto;
    }

    #creation-disclaimer {
        margin-top: 1.75%;
    }

    .disclaimer {
        font-size: 1em;
    }

    #footer-content {
        background: rgba(1,1,1,0.25);
        height: auto;
    }

    #email-logo {
        margin-left: 1%;
        margin-right: 1%;
    }

    #logo {
        width: 30%;
        height: 100%;
        float: left;
        display: block;
    }
    
    #logo > img {
        height: 100%;
        width: auto;
    }
}

/* Index */
#content-title {
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
}
/* End of index */