<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd    
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <context:annotation-config />
    
    <context:component-scan base-package="com.dbzwcg.controllers" />
 
    <mvc:annotation-driven />
    
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />
    
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" />

    <!-- SECURITY -->
        
    <bean id="customUserDetailsService" class="com.dbzwcg.services.authentication.CustomAuthService"></bean>
        
    <security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled" />
    
    <security:http auto-config="true" use-expressions="true">
        <security:form-login login-page="/index.htm" default-target-url="/auth/login" authentication-failure-url="/auth/denied" />
        <security:logout logout-url="/auth/logout" logout-success-url="/index.htm" />
        <security:intercept-url pattern='/*' access='isAnonymous() or isAuthenticated()' />
        <security:intercept-url pattern='/auth/login' access='isAnonymous() or isAuthenticated()' />
        <security:intercept-url pattern='/auth/denied' access='isAnonymous()' />
        <security:intercept-url pattern='/auth/logout' access='isAuthenticated()' />
        <security:intercept-url pattern='/game/*' access='isAuthenticated()' />
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="customUserDetailsService">
<!--            <security:jdbc-user-service data-source-ref="dataSource"
            
                                        users-by-username-query="SELECT email as username, password, enable 
                                                                FROM users 
                                                                WHERE email=?"
                                                                
                                        authorities-by-username-query="SELECT users.email as username, authorities.authority 
                                                                    FROM users, authorities, user_roles
                                                                    WHERE user_roles.id_user = users.id AND
                                                                    user_roles.id_authority = authorities.id AND 
                                                                    users.email = ?"
            />-->
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- END OF SECURITY -->

</beans>